html{
    height: 100%;
}
body{
    height: 100%;
    font-family:'Source Sans Pro', sans-serif;
}
#map {
    height: 100%;
}
.InputSearch{
    top: 2%;
    position: fixed;
}
.icon-magnifier{
    color:#0080ff;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}
.letf{
    display: inline-block;
    width: 200px;
}
.contInput{
    margin-left: 10%;
}
.one{
    margin-left: 10%;
    color:#cc0000;
    font-size: 60px;
    cursor: pointer;
    display: inline-block;
}
.one:hover:before{
    color: #676767;
}
.icon-magnifier:hover:before{
    color: #676767;
}
.icon-magnifier:active:before{
    color: #8962ff;
}
.one:active:before{
    color: #8962ff;
}
.images{
    height: 150px;
    width: 190px;
    margin-right: 10px;
    margin-left: 25px;
}
.aling{
    text-align: center;
}
.contZoo{
    background-color: rgba(0,0,0,0.5);
    color:white;
    border-radius: 5px;
    margin-left: 20%;
}
.close{
    text-align: left;
    color: red;
    font-size: 30px;
}
.image{
    display: inline-block;
    height: 200px;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
}
::selection {
    background: #a4dcec;
}
#searchfield form .biginput:focus {
  color: #858585;
}
.biginput{
    border-radius: 5px;
    height: 30px;
    width: 250px;
    display: inline-block;
}
.autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff; cursor:
    default;
    overflow: auto;
}
.autocomplete-suggestion {
    padding: 10px 5px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-selected {
    background: #f0f0f0;
}
.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399ff;
}