html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#map {
    height: 100%;
}

.InputSearch {
    top: 2%;
    margin-left: 5%;
    position: fixed;
    -webkit-box-shadow: 0 0 3px #a7a7a7;
    -moz-box-shadow: 0 0 3px #a7a7a7;
    box-shadow: 0 0 3px #a7a7a7;
    color: black;
}
